[core]
    pager = delta
    hooksPath = /Users/josh/.config/git/hooks
    excludesfile = /Users/josh/.config/git/gitignore
[user]
    name = Josh Thornton
    email = josh@speedscale.com
[url "ssh://git@gitlab.com"]
    insteadOf = https://gitlab.com
[pull]
    rebase = false
[maintenance]
	repo = /Users/josh/code/ss/master
[delta]
    line-numbers = true
    true-color = always
    side-by-side = true
    commit-decoration-style = bold yellow ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = none
    width = variable
[interactive]
    diffFilter = delta --color-only 
[merge]
    tool = vimdiff
    conflictstyle = zdiff3
[mergetool]
    prompt = false
# remember previous decisions for rebase
[rerere]
  enabled = true
[branch]
	sort = -committerdate
[mergetool "fugitive"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
